.row{
    width: 99%;
    height: 600px;
    /* background-color: bisque; */
    /* border: solid black; */
    display: flex;
    justify-content:space-between;
}
.col{
    width: 25%;
    height: 550px;
    background-color: rgb(235, 209, 122);
    border:3px solid black;
    margin: 2px;
}
img{
    width: 100%;
height: 38%;
}
h2{
    text-align: center;
    color: rgb(203, 52, 52);
}
a{
    color: brown;
    margin-left: 60%;
}
h4{
    text-align: center;
}
iframe{
    margin-left: 2%;
    width:80%;
     height:23%; 
     border-radius: 50%;
}